div#mainmenu ul {
	height: 30px;
    display: flex;
    justify-content: space-between;
}

div#mainmenu li {
	display: inline;
}
div#mainmenu li > a {
    line-height: 30px;
}

Файл static/style/menu.css

div#mainmenu li.active {
	border-bottom: 5px solid #bc2323;
}

